.wrapper{
    border: 32px solid black;
    border-radius: 2%;
    background-color: whitesmoke;
    overflow-x: hidden;
    margin: 4;
    padding: 4;
    box-sizing: border-box;
}

.container{

    max-width: 100%;

   

    height: 100vh;
    width: 100vw;
}

.navbar{

    /* margin-top: 8px; */
    /* min-height: 10px; */
    min-width: 100%;
  
    background-color: lightskyblue;
    margin-top: 5px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;

   

}

.navbar div {
    
    display: flex;
    list-style-type: none;
    
    gap: 12px;
   
}

.navbar div a{
    text-decoration: none;
    color: black;
}

.content{
    min-width: none;
    display: flex;
}

.right{

    cursor: pointer;
    /* margin-top: px; */
    min-width: 40%;
    
}

.right h1{
    max-width: 200px;
}

.right:hover{

    translate: 4px;
}

.left{
    cursor: pointer;
    margin-top: 4px;
}

.left:hover{
    translate: 4px;
}

.btn button{
    cursor: pointer;
    
    background-color: aqua;
}






